h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
  font-size: inherit;
}

ul {
  list-style: none;
}

img {
  display: block;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--fontColorMain);
  background: var(--colorWhite);
}

a {
  text-decoration: none;
}

input,
textarea {
  outline: none;
}

button {
  cursor: pointer;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  padding-bottom: 50px;
}

.container {
  min-width: 320px;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  line-height: 1.19;
  color: #000;
}
.logo--accent {
  color: #2196f3;
}
.logo--footer-font-color {
  color: #fff;
}

@media (min-width: 768px) {
  .logo--margin-right {
    margin-right: 83px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
  .logo--margin-right {
    margin-right: 93px;
  }
}
.navbar {
  display: flex;
  padding-top: 25px;
  align-items: center;
}
.navbar__item-box {
  position: relative;
}
.navbar__icon-spacing {
  margin-right: 10px;
}

.navbar__box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-left: auto;
}

.navbar__box-contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-left: auto;
}

@media (max-width: 767px) {
  .navbar__box,
.navbar__box-contact {
    display: none;
  }
  .navbar {
    padding-bottom: 16px;
  }
}
@media (min-width: 768px) {
  .navbar__box {
    gap: 60px;
    font-size: 14px;
  }
  .navbar__box-contact {
    font-size: 12px;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
  .navbar {
    padding-bottom: 21px;
  }
}
@media (min-width: 1200px) {
  .navbar__box-contact {
    flex-direction: row;
    gap: 50px;
    align-items: center;
    font-size: 14px;
  }
  .navbar__box {
    gap: 46px;
  }
  .navbar {
    padding-bottom: 27px;
  }
}
.navbar__item {
  color: #212121;
  font-style: normal;
  font-weight: 500;
  line-height: 1.17;
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.navbar__item:hover, .navbar__item:focus {
  color: #2196f3;
  fill: #2196f3;
}
.navbar__item--light-link {
  color: #757575;
  fill: #757575;
}
.navbar__item--active {
  color: #2196f3;
  position: relative;
}
.navbar__item--active::after {
  position: absolute;
  content: "";
  background: #2196f3;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  left: 0;
  bottom: -37px;
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.social-media__title {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 12px;
  padding-bottom: 20px;
}
.social-media__logo {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #fff;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media__logo-focus:hover svg, .social-media__logo-focus:focus svg {
  background: #2196f3;
}

.newsletter__heading {
  padding-bottom: 20px;
  padding-top: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}
.newsletter__box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.newsletter__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: none;
  padding-left: 16px;
  height: 50px;
  width: 358px;
  color: #fff;
  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.newsletter__input:hover, .newsletter__input:focus-within {
  fill: #2196f3;
  border-color: #2196f3;
}

.newsletter__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.newsletter__btn svg {
  fill: #fff;
}

.banner {
  background: #2f303a; /*FALLBACK COLOR*/
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}
.banner__container {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.banner__title {
  color: #fff;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding-bottom: 30px;
}

@media (max-width: 768px) {
  .banner {
    max-width: 767px;
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url(./../images/main-banner-m-1x.jpg);
  }
}
@media (max-width: 768px) and (min-device-pixel-ratio: 2), (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 768px) and (min-resolution: 192dpi), (max-width: 768px) and (min-resolution: 2dppx) {
  .banner {
    max-width: 767px;
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url(./../images/main-banner-m-2x.jpg);
  }
}
@media (min-width: 768px) {
  .banner {
    max-width: 1200px;
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url(./../images/main-banner-t-1x.jpg);
  }
}
@media (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi), (min-width: 768px) and (min-resolution: 2dppx) {
  .banner {
    max-width: 1200px;
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url(./../images/main-banner-t-2x.jpg);
  }
}
@media (min-width: 1200px) {
  .banner {
    max-width: 1600px;
    max-height: 600px;
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url(./../images/main-banner-d-1x.jpg);
  }
}
@media (min-width: 1200px) and (min-device-pixel-ratio: 2), (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 192dpi), (min-width: 1200px) and (min-resolution: 2dppx) {
  .banner {
    max-width: 1600px;
    max-height: 600px;
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url(./../images/main-banner-d-2x.jpg);
  }
}
@media (max-width: 1199px) {
  .banner__title {
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    font-size: 26px;
  }
}
.footer {
  background-color: #2f303a;
  font-size: 14px;
  line-height: 1.19;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__item {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  line-height: 1.71;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__item:hover, .footer__item:focus {
  color: #2196f3;
  fill: #2196f3;
}
.footer__address-item-container {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.footer__address {
  color: #fff;
  line-height: 1.71;
  font-style: normal;
  padding-top: 20px;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.our-strengths {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.our-strengths__icon {
  background: #f5f4fa;
  padding: 25px 100px;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
}
.our-strengths__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.our-strengths__content {
  letter-spacing: 0.03em;
  line-height: 1.71;
  font-size: 14px;
  color: #757575;
}

.what-we-do {
  padding-top: 94px;
}
.what-we-do__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.what-we-do__box {
  position: relative;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.what-we-do__label {
  position: absolute;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  color: #fff;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  text-align: center;
  bottom: 0;
  left: 0;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
}

.our-team {
  background: #f5f4fa;
}
.our-team__list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.our-team__text {
  text-align: center;
  padding-top: 30px;
  margin-top: -4px;
}
.our-team__name {
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 10px;
}
.our-team__occupation {
  color: #757575;
  padding-bottom: 16px;
}
.our-team__item {
  background: #fff;
  line-height: 1.19;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.our-team__social-media-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  gap: 10px;
}
.our-team__social-media {
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  cursor: pointer;
  border-radius: 50%;
  transition-property: background, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.our-team__social-media-focus:hover svg, .our-team__social-media-focus:focus svg {
  background: #2196f3;
  fill: #fff;
}

.clients {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.clients__logo {
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  cursor: pointer;
}
.clients__logo-focus:hover svg, .clients__logo-focus:focus svg {
  fill: #2196f3;
  border-color: #2196f3;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
.modal-form__close-btn {
  position: absolute;
  background-color: #fff;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__close-btn:focus, .modal-form__close-btn:hover {
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  outline: none;
}
.modal-form__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}
.modal-form__label {
  display: flex;
  flex-direction: column;
  position: relative;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__label:focus-within, .modal-form__label:hover {
  fill: #2196f3;
}
.modal-form__heading {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.modal-form__input-features {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 40px;
  padding: 14px 42px;
  margin-top: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input-features:hover {
  border-color: #2196f3;
}
.modal-form__textarea {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}
.modal-form--text-style {
  color: #757575;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.modal-form__icon {
  position: absolute;
  bottom: 20px;
  transform: translateY(50%);
  left: 15px;
}
.modal-form__terms-and-conditions {
  position: relative;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 10px 0 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 7px;
  cursor: pointer;
}
.modal-form__terms-and-conditions--accent-underlined {
  color: #2196f3;
  text-decoration: underline;
  transition: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__terms-and-conditions--accent-underlined:hover, .modal-form__terms-and-conditions--accent-underlined:focus {
  color: #1173d5;
}
.modal-form__check {
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}
.modal-form__checkbox {
  border: 2px #212121 solid;
  border-radius: 2px;
  background-color: #fff;
  fill: #fff;
  cursor: pointer;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__check:checked + .modal-form__checkbox {
  fill: #fff;
  background-color: #2196f3;
  border-color: #2196f3;
}
.modal-form__check:focus + .modal-form__checkbox {
  border: none;
  border: 2px solid #2196f3;
}

.btn-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-bottom: 50px;
}
.btn-list__item {
  font-weight: 500;
  text-align: center;
  line-height: 1.62;
  padding: 6px 22px;
  border: none;
  background: #f5f4fa;
  border-radius: 4px;
  transition-property: box-shadow, background, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-list__item:hover, .btn-list__item:focus {
  color: #fff;
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  cursor: pointer;
}
.portfolio-container__text-border {
  border: 1px solid #eeeeee;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
}
.portfolio-container__text {
  color: #757575;
  line-height: 1.88;
  margin: 0;
}
.portfolio-container__heading {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  font-weight: 700;
  padding-bottom: 4px;
}
.portfolio-container--text-color {
  color: #212121;
}
.portfolio-container__item {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-container__item:hover, .portfolio-container__item:focus-within {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-container__hidden {
  position: absolute;
  width: 370px;
  height: 294px;
  overflow: hidden;
}
.portfolio-container__overlay {
  position: absolute;
  background-color: #2196f3;
  opacity: 0.9;
  padding: 49px 45px 49px 24px;
  transition-property: transform;
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-container__item:hover .portfolio-container__overlay, .portfolio-container__item:focus-within .portfolio-container__overlay {
  transform: translateY(0);
}
.portfolio-container__overlay-copy {
  color: #fff;
  font-size: 18px;
  line-height: 1.56;
  margin: 0;
}

.cta {
  color: #fff;
  background: #2196f3;
  border: none;
  width: 200px;
  height: 50px;
  align-items: center;
  line-height: 1.88;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  letter-spacing: 0.06em;
  font-weight: 700;
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.cta:hover, .cta:focus {
  background-color: #1173d5;
}

.menu-toggle {
  background-color: transparent;
  position: absolute;
  border: none;
  transform: translateY(-50%);
  right: 15px;
  top: 50%;
  fill: #212121;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-toggle:hover, .menu-toggle:focus {
  fill: #2196f3;
}

@media (min-width: 767px) {
  .menu-toggle {
    display: none;
  }
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #fff;
  z-index: 999;
  transform: translateX(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  transform: translate(-50%);
  top: 21px;
  right: 25px;
}

.mobile-menu__link {
  display: block;
  padding: 10px;
  color: #212121;
  text-decoration: none;
  font-size: 40px;
  font-weight: 500;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: #2196f3;
}
.mobile-menu__link--active {
  color: #2196f3;
}

.mobile-contact {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 302px;
  margin-bottom: 64px;
}
.mobile-contact__item {
  font-size: 24px;
  color: #757575;
}
.mobile-contact__item--active {
  font-size: 34px;
  color: #2196f3;
}

.mobile-socials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.mobile-socials__link {
  color: #2196f3;
}
.mobile-socials__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}
.mobile-socials__item:not(:first-child) {
  padding-left: 10px;
}

.border-bottom {
  border-bottom: 1px solid #ececec;
}

.link-underline {
  text-decoration: underline;
}

.active {
  color: #2196f3;
}

.relative {
  position: relative;
}/*# sourceMappingURL=main.css.map */