:root {
  --white: #fff;
  --offwhite: #f5f4fa;
  --black: #000;
  --blue: #2196f3;
  --grey: #757575;
  --charcoal: #212121;
  --graphite: #2f303a;
  --lightgrey: #e5e5e5;
  --productborder: #eeeeee;
  --footerlinks: #ffffff99;
  --border: #ececec;
  --footericon: rgba(255, 255, 255, 0.1);
  --icons: #afb1b8;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--charcoal);
  letter-spacing: 0.03em;
}

button {
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* logo and links */

.logo,
.footer__logo {
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
}
.logo {
  color: var(--black);
}
.footer__logo {
  color: var(--white);
}

.accent {
  color: var(--blue);
}

.link-style {
  color: var(--charcoal);
}
.contact-link {
  color: var(--grey);
  fill: var(--grey);
}

.link-underline {
  text-decoration: underline;
}

/* nav and footer*/
.navbar__border {
  border-bottom: 1px solid var(--border);
}
.menu {
  display: flex;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 24px;
}

.navbar {
  display: flex;
  gap: 46px;
  padding-left: 93px;
}

.navbar-contact {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.navbar__item {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.navbar__item:hover,
.navbar__item:focus,
.footer__item:hover,
.footer__item:focus {
  color: var(--blue);
  fill: var(--blue);
}

.navbar__icon-spacing {
  margin-right: 10px;
}

.footer {
  background: var(--graphite);
  font-size: 14px;
  line-height: 1.19;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__address {
  color: var(--white);
  line-height: 1.71;
  font-style: normal;
  padding-top: 20px;
}

.footer__item {
  color: var(--footerlinks);
  font-style: normal;
  line-height: 1.71;
  padding-top: 9px;
}

.footer-container {
  display: flex;
}
.footer__social-media {
  margin-left: 70px;
}

.social-media__title {
  color: var(--white);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 12px;
  padding-bottom: 20px;
}
.social-media {
  display: flex;
  gap: 10px;
}

.social-media__logo {
  background: var(--footericon);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--white);
  cursor: pointer;
}
.social-media__logo-focus:hover svg,
.social-media__logo-focus:focus svg {
  background: var(--blue);
}
/* index page */

/* banner */
.banner {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.banner__background {
  background: var(--graphite); /*FALLBACK COLOR*/
  background-image: linear-gradient(
      0deg,
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 100%
    ),
    url(./../images/main-banner.jpg);
  max-width: 1600px;
  margin: 0 auto;
}
.banner__title {
  color: var(--white);
  letter-spacing: 0.06em;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.banner__button {
  color: var(--white);
  background: var(--blue);
  border: none;
  width: 200px;
  padding: 10px 42px;
  line-height: 1.88;

  border-radius: 4px;
}

/* container with lorem ipsums */

.our-strengths {
  display: flex;

  gap: 30px;
}

.our-strengths__icon {
  background: var(--offwhite);
  padding: 25px 100px;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
}
.our-strengths__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.our-strengths__content {
  letter-spacing: 0.03em;
  line-height: 1.71;
  font-size: 14px;
  color: var(--grey);
}

/* containter Czym się zajmujemy */
.what-we-do {
  padding-top: 94px;
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  padding-bottom: 50px;
}

.what-we-do__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

/* containter - team */
.our-team {
  background: var(--offwhite);
}
.our-team__list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.our-team__text {
  text-align: center;
  padding-top: 30px;
  margin-top: -4px;
}
.our-team__name {
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 10px;
}
.our-team__occupation {
  color: var(--grey);
}

.our-team__tag {
  background: var(--white);
  line-height: 1.19;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.our-team__social-media-list {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  gap: 10px;
}
.our-team__social-media {
  width: 44px;
  height: 44px;
  fill: var(--icons);
  cursor: pointer;
}
.our-team__social-media-focus:hover svg,
.our-team__social-media-focus:focus svg {
  background: var(--blue);
  border-radius: 50%;
  fill: var(--white);
}
.clients {
  display: flex;
  gap: 30px;
}

.clients__logo {
  fill: var(--icons);
  border: 1px solid var(--icons);
  border-radius: 4px;
}
.clients__logo-focus {
  display: flex;
  width: 170px;
  height: 92px;
  cursor: pointer;
}

.clients__logo-focus:hover svg,
.clients__logo-focus:focus svg {
  fill: var(--blue);
  border-color: var(--blue);
}
/* Portfolio page */

/* buttons */

.button-list__item {
  font-weight: 500;
  text-align: center;
  line-height: 1.62;
  padding: 6px 22px;
  border: none;
  background: var(--offwhite);
  border-radius: 4px;
}

.button-list__item:hover,
.button-list__item:focus {
  color: var(--white);
  background: var(--blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.button-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-bottom: 50px;
}

/* portfolio items */

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.portfolio-container__text-border {
  border: 1px solid var(--productborder);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
}
.portfolio-container__text {
  color: var(--grey);
  line-height: 1.88;
  margin: 0;
}
.portfolio-container__heading {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  font-weight: 700;
  padding-bottom: 4px;
}
.portfolio-container__text-color {
  cursor: pointer;
  color: var(--charcoal);
}

.portfolio-container__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
