@import "./utils/reset";
@import "./utils/variables";
@import "./utils/mixins";

@import "./components/section";
@import "./components/container";
@import "./components/logo";
@import "./components/navbar";
@import "./components/social-media";
@import "./components/newsletter";
@import "./components/banner";
@import "./components/footer";
@import "./components/our-strengths";
@import "./components/what-we-do";
@import "./components/our-team";
@import "./components/clients";
@import "./components/backdrop";
@import "./components/is-hidden";
@import "./components/modal";
@import "./components/btn-list";
@import "./components/portfolio-container";
@import "./components/cta";
