@import "./../utils/variables";
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: opacity, visibility;
  transition: $basic-transition;
}
