.banner {
  background: $footer-background; /*FALLBACK COLOR*/
  background-image: linear-gradient(
      0deg,
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 100%
    ),
    url(./../images/main-banner.jpg);
  max-width: 1600px;
  margin: 0 auto;

  &__container {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  &__title {
    color: $primary;
    font-size: map-get($font-size, banner-title);
    font-weight: map-get($font-weight, extrabold);
    line-height: 1.36;
    letter-spacing: map-get($letter-spacing, header);
    text-transform: uppercase;
    padding-bottom: 30px;
  }

  &__btn {
    color: $primary;
    background: $accent;
    border: none;
    width: 200px;
    padding: 10px 42px;
    line-height: 1.88;
    border-radius: 4px;

    &--focused:hover,
    &--focused:focus {
      background-color: #1173d5;
      transition-property: background;
      @include transition;
    }
  }
}
