@import "./../utils/variables";
@import "./../utils/mixins";

.clients {
  @include centered-flex(column);
  gap: 30px;

  &__logo {
    fill: $icon-color;
    border: 1px solid $icon-color;
    border-radius: 4px;
    transition-property: border-color, fill;
    @include transition;
    @include centered-flex(column);
    width: 170px;
    height: 92px;
    cursor: pointer;

    &--focused:hover svg,
    &--focused:focus svg {
      fill: $accent;
      border-color: $accent;
    }
  }
}
