.clients {
  @include centered-flex(row);
  gap: 30px;
  flex-wrap: wrap;

  &__logo {
    fill: $icon-color;
    border: 1px solid $icon-color;
    border-radius: 4px;
    transition-property: border-color, fill;
    @include transition;
    @include centered-flex(row);
    width: 170px;
    height: 92px;
    cursor: pointer;

    &-focus:hover svg,
    &-focus:focus svg {
      fill: $accent;
      border-color: $accent;
    }
  }
}
