.container {
  min-width: 320px;
  margin: 0 auto;

  @media (max-width: 768px) {
    & {
      padding: 0 15px 0;
      max-width: 768px;
    }
  }
  @media (min-width: 768px) {
    & {
      padding: 0 15px 0;
      min-width: 768px;
      max-width: 1200px;
    }
  }
  @media (min-width: 1200px) {
    & {
      max-width: 1200px;
      padding: 0 15px;
    }
  }
}
