.footer {
  background-color: $footer-background;
  font-size: map-get($font-size, standard);
  line-height: 1.19;

  &__item {
    color: $footer-links;
    font-style: normal;
    line-height: 1.71;
    transition-property: color;
    @include transition;

    &:hover,
    &:focus {
      @include icon-features($accent);
    }
  }

  &__address-item-container {
    @include flex(column);
    align-items: center;
    gap: 9px;
  }

  &__address {
    text-align: center;
    color: $primary;
    line-height: 1.71;
    font-style: normal;
    padding-top: 20px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 60px;
  }
  &__box {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .footer__container {
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;

    align-items: baseline;
    flex-wrap: wrap;
    -moz-column-gap: 144px;
    column-gap: 144px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    align-content: flex-start;
    flex-direction: row;
    gap: 0;
  }
  .footer__box,
  .footer__address-item-container {
    align-items: flex-start;
  }
  .footer__item--underlined {
    text-decoration: underline;
  }
}
