@import "./../utils/variables";

.logo {
  font-weight: map-get($font-weight, bold);
  font-family: $logo-font;
  font-size: map-get($font-size, logo);
  line-height: 1.19;
  color: $black;

  &--margin-right {
    margin-right: 93px;
  }

  &--accent {
    color: $accent;
  }
  &--footer-font-color {
    color: $primary;
  }
}
