.logo {
  font-weight: map-get($font-weight, bold);
  font-family: $logo-font;
  font-size: map-get($font-size, logo);
  line-height: 1.19;
  color: $black;

  &--accent {
    color: $accent;
  }
  &--footer-font-color {
    color: $primary;
  }

  &:focus {
    outline: 1px solid $accent;
  }
}

@media (min-width: 768px) {
  .logo--margin-right {
    margin-right: 83px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: map-get($font-size, logo-big);
  }

  .logo--margin-right {
    margin-right: 93px;
  }
}
