.menu-toggle {
  background-color: transparent;
  position: absolute;
  border: none;
  transform: translateY(-50%);
  right: 25px;
  top: 50%;
  fill: $secondary-color-text;
  transition-property: fill;
  @include transition;

  &:hover,
  &:focus {
    fill: $accent;
  }
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;

  background-color: $primary;
  z-index: 999;
  transform: translateX(150%);
  transition-property: transform;
  @include transition;

  &.is-open {
    transform: translateX(0);
    width: 100%;
  }

  & .menu-toggle {
    position: absolute;
    transform: translate(-50%);
    top: 21px;
    right: 0px;
  }
}
.mobile__menu {
  @include flex(column);
  gap: 32px;

  &-link {
    color: $secondary-color-text;
    text-decoration: none;
    font-size: map-get($font-size, menu-mobile);
    font-weight: map-get($font-weight, medium);
    transition-property: color;
    @include transition;
    padding-bottom: 32px;
    min-width: 360px;

    &:hover,
    &:focus {
      color: $accent;
    }
  }
}
.mobile__container {
  min-height: 90vh;
  max-height: 100vh;
  @include flex(column);
  justify-content: space-between;
}
.mobile-contact {
  @include flex(column);
  gap: 32px;
  width: 100%;
  margin-bottom: 64px;

  &__item {
    font-size: map-get($font-size, logo);
    color: $primary-color-text;
  }

  &__item--active {
    font-size: map-get($font-size, mobile-contact);
    color: $accent;

    &:focus {
      outline: 1px solid $accent;
    }
  }
}

.mobile-socials {
  @include flex(row);
  flex-wrap: wrap;
  font-size: map-get($font-size, cardheader);
  font-weight: map-get($font-weight, medium);
  letter-spacing: map-get($letter-spacing, links);
  padding-left: 0;
  gap: 10px;

  margin-bottom: 0;
  width: 100%;
  &__item {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  &__link {
    color: $accent;
    &:focus {
      outline: 1px solid $accent;
    }
  }
}
