.navbar {
  @include centered-flex(row);
  padding-top: 25px;
  padding-bottom: 24px;

  &__item-box {
    position: relative;
  }

  &__box {
    @include centered-flex(row);
    gap: 50px;
    margin-left: auto;
  }

  &__icon-spacing {
    margin-right: 10px;
  }
}

.navbar__item {
  color: $secondary-color-text;
  font-style: normal;
  font-weight: map-get($font-weight, medium);
  font-size: map-get($font-weight, standard);
  line-height: 1.17;
  letter-spacing: map-get($font-weight, links);
  transition-property: color, fill;
  @include transition;

  &:hover,
  &:focus {
    @include icon-features($accent);
  }

  &--light-link {
    @include icon-features($primary-color-text);
  }

  &--active {
    color: $accent;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      background: $accent;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      left: 0;
      bottom: -32px;
    }
  }
}
