.newsletter {
  &__heading {
    padding-bottom: 20px;
    padding-top: 12px;
    font-weight: map-get($font-weight, bold);
    font-size: map-get($font-size, standard);
    line-height: 1.72;
    letter-spacing: map-get($letter-spacing, standard);
    text-transform: uppercase;
    color: $primary;
  }

  &__box {
    @include centered-flex(row);
    gap: 12px;
  }

  &__input {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: none;
    padding-left: 16px;
    height: 50px;
    width: 358px;
    color: $primary;
    transition-property: fill, border-color;
    @include transition;

    &:hover,
    &:focus-within {
      fill: $accent;
      border-color: $accent;
    }
  }
}

.newsletter__btn {
  @include centered-flex(row);
  gap: 24px;
  transition-property: background;
  @include transition;

  & svg {
    fill: $primary;
  }
}
