.our-team {
  background: $section-background;

  &__list {
    @include flex(column);
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  &__text {
    text-align: center;
    padding-top: 30px;
    margin-top: -4px;
  }
  &__name {
    font-weight: map-get($font-weight, medium);
    font-size: map-get($font-size, enlarged);
    padding-bottom: 10px;
  }
  &__occupation {
    color: $primary-color-text;
    padding-bottom: 16px;
  }

  &__item {
    background: $primary;
    line-height: 1.19;
    max-width: 450px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  &__social-media-list {
    @include centered-flex(row);
    flex-wrap: wrap;
    padding-bottom: 30px;
    gap: 10px;
  }

  &__social-media {
    width: 44px;
    height: 44px;
    fill: $icon-color;
    cursor: pointer;
    border-radius: 50%;
    transition-property: background, fill;
    @include transition;

    &-focus:hover svg,
    &-focus:focus svg {
      background: $accent;
      fill: $primary;
    }
  }
}
@media (min-width: 768px) {
  .our-team__item {
    flex-basis: calc((100% - 30px) / 2);
    // height: 536px;
  }

  .our-team__list {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1200px) {
  .our-team__item {
    flex-basis: calc((100% - 30px) / 4);
    max-width: 270px;
  }
  .our-team__list {
    flex-direction: row;
  }
}
