.section {
  padding-top: 60px;
  padding-bottom: 60px;

  &__title {
    font-size: map-get($font-size, section-header);
    font-weight: map-get($font-weight, bold);
    line-height: 1.17;
    text-align: center;
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
