.section {
  padding: 60px 15px;
  margin: 0 auto;

  &__title {
    font-size: map-get($font-size, section-header);
    font-weight: map-get($font-weight, bold);
    line-height: 1.17;
    text-align: center;
    padding-bottom: 50px;
  }
}

@media (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
