@import "./../utils/variables";
@import "./../utils/mixins";

.what-we-do {
  padding-top: 94px;

  &__list {
    @include centered-flex(row);
    gap: 30px;
  }

  &__box {
    position: relative;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  }

  &__label {
    position: absolute;
    text-transform: uppercase;
    font-size: map-get($font-size, standard);
    font-weight: map-get($font-weight, bold);
    line-height: 1.17;
    letter-spacing: map-get($font-weight, standard);
    color: $primary;
    background: rgba(47, 48, 58, 0.8);
    width: 100%;
    text-align: center;
    bottom: 0;
    left: 0;
    margin: 0;
    padding-top: 27px;
    padding-bottom: 27px;
  }
}

@media (max-width: 1199px) {
  .what-we-do {
    display: none;
  }
}
